<!-- <% if current_user.follows?(user) %>
  <%= button_to "Unfollow", user_follow_url(user), method: :delete %>
<% else %>
  <%= button_to "Follow", user_follow_url(user), method: :post %>
<% end %> -->

<button class="follow-toggle" id="follow"
        data-user-id="<%= user.id %>"
        data-initial-follow-state="<%= current_user.follows?(user) %>">
        </button>

<script charset="utf-8">
$.FollowToggle = function (el) {
  this.$el = $(el);
  this.userId = this.$el.data("user-id");
  this.initialFollowState = this.$el.data("initial-follow-state");
  this.FollowState = (this.initialFollowState) ? "followed" : "unfollowed";
  this.render();
  this.handleClick();
};

$.FollowToggle.prototype.render = function () {
  var buttonText = ""

  if (this.FollowState === "followed"){
    buttonText = "Unfollow!";
    this.$el.prop("disabled", false);
  }else if (this.FollowState === "unfollowed"){
    buttonText = "Follow!";
    this.$el.prop("disabled", false);
  }
  this.$el.text(buttonText);
};

$.FollowToggle.prototype.handleClick = function () {
  this.$el.on("click", function(event) {
    var $button = $(event.currentTarget);
    event.preventDefault();
    this.$el.prop("disabled", true)
    if (this.FollowState === "followed") {
      $.ajax({
        type: "delete",
        url: "<%= user_follow_url(user) %>",
        dataType: "json",
        success: function(data) {
          this.FollowState = "unfollowing";
          this.render();
          setTimeout(function() {
            this.FollowState = "unfollowed";
            this.render();
          }.bind(this), 0)
        }.bind(this)
      })
    } else {
      $.ajax({
        type: "post",
        url: "<%= user_follow_url(user) %>",
        dataType: "json",
        success: function(data) {
          this.FollowState = "following";
          this.render();
          setTimeout(function() {
            this.FollowState = "followed";
            this.render();
          }.bind(this), 0)
        }.bind(this)
      })
    }
  }.bind(this))
}

$.fn.followToggle = function () {
return this.each(function () {
  new $.FollowToggle(this);
});
};

$(function () {
$("button.follow-toggle").followToggle();
});
</script>
