<!DOCTYPE html>
<html>
<head>
  <title>AjaxTwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><%= link_to "Feed", feed_url %></li>
  <li><%= link_to "User Search", search_users_url %></li>
</ul>

<% if current_user %>
  <form action="/session" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <input type="submit" value="Logout!">
  </form>
<% end %>

<%= yield %>

<script charset="utf-8">


$.FollowToggle = function (el, options) {
  this.$el = $(el);
  this.userId = this.$el.data("user-id") || options.userId;
  this.initialFollowState = this.$el.data("initial-follow-state") || options.followState;
  this.followState = (this.initialFollowState) ? "followed" : "unfollowed";
  this.render();
  this.handleClick();
};

$.FollowToggle.prototype.render = function () {
  var buttonText;

  if (this.followState === "followed"){
    buttonText = "Unfollow!";

  }else if (this.followState === "unfollowed"){
    buttonText = "Follow!";
  }
  this.$el.prop("disabled", false);
  this.$el.text(buttonText);
};

$.FollowToggle.prototype.handleClick = function () {
  this.$el.on("click", function(event) {
    var $button = $(event.currentTarget);
    event.preventDefault();
    this.$el.prop("disabled", true)
    if (this.followState === "followed") {
      this.followState = "unfollowing";
      this.render();
      $.ajax({
        type: "delete",
        url: "./" + this.userId + "/follow",
        dataType: "json",
        success: function(data) {
          this.followState = "unfollowed";
          this.render();
        }.bind(this)
      })
    } else {
      this.followState = "following";
      this.render();
      $.ajax({
        type: "post",
        url: "./" + this.userId + "/follow",
        dataType: "json",
        success: function(data) {
            this.followState = "followed";
            this.render();
        }.bind(this)
      })
    }
  }.bind(this))
}

$.fn.followToggle = function (options) {
return this.each(function () {
  new $.FollowToggle(this, options);
});
};
</script>
</body>
</html>
